.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {

  background: url("/img/background.png");
  background-size: 10%;
  background-repeat: repeat;
}

.navbar {
  /*position: absolute;
  padding-left: 100px;*/
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navbar a {
  max-width: 100%;
  width: 600px;
  left: 0;
  right: 0;
  color: #575757;
  /*display: block;*/
  margin: auto;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  font-family: Verdana,sans-serif;
  font-weight: bold;
  outline: 0;
}

/* I had no idea I could make variables in CSS till now o_O */
:root {
  --main-max-width: 800px;
  --main-min-width: 500px;
}

.navbar a:hover {
  color: #428bca;
}

.navbar a:active {
  color: #4778a3;
}


.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 200px;
}


.content-section p {
  font-family: Verdana,sans-serif;
  text-align: left;
}

.content-section a {
  text-decoration: none;
  color: #428bca;

}
.content-section {

  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f2f2f2;
  border-color:  #e6e6e6;
  border-width: 2px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  min-width: var(--main-max-width);
  max-width: var(--main-min-width);
  display: block;
  border-radius: 4px;
  border-style: solid;


}

.header-background {
  left: 0;
  right: 0;
  height: 100px;
  min-width: var(--main-min-width);
  max-width: 100%; /*var(--main-max-width);*/
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color:  #c1c1c1;
  background-image: url(/img/cloud.jpg);
  background-repeat: repeat;
  background-size: 500px;
  opacity: 0.4;
  -webkit-animation: slide 40s linear infinite;
}

@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -500px 0; }
}

.header {
  width: 100%;
  min-width: 500px;
  position: absolute;
  display: inline;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-family: Verdana,sans-serif;
  color: rgb(60, 60, 60);
  z-index: 100;
}

.header img {
  height: 80px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  display: inline;
  float: left;
}

.header .separator:after {
  display: inline-block;
  position: relative;
    font-family: Verdana,sans-serif;

  color: blue;
  content: ' \263A';

}

.content-section {
  text-align: left;
  font-family: Verdana,sans-serif;
  font-size: 14px;
}

.content-section form {
  display: block;
  padding-bottom: 50px;
}

.content-section .field {
  font-family: Verdana,sans-serif;
  font-size: 14px;
  display: block;
  padding: 5px;
  margin: 5px;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.content-section .bottom-button {
  font-family: Verdana,sans-serif;
  float: right;
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  margin: 5px;
  border-radius: 5px;
  background-color: #428bca;
  color: white;
  border-width: 0px;


}

/* quick-n-dirty workaround */
.content-section .contact-msg {
  text-align: center;
}

.contact {
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
}

.coyote-404-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}


.why-hire-me-container {
  display: inline-block;
  width: 100%;

}

.why-hire-me {
  padding-top: 50px;
  padding: 0;
  width: 50%;
  float: left;
}



.split-hire-me {
  float: right;
  width: 50%;
  /*padding-left: 50px;
  padding-right: 50px;*/
}

.split-hire-me input {
  font-family: Verdana,sans-serif;
  font-size: 14px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 150px;
  margin: 20px;
  border-radius: 5px;
  background-color: #428bca;
  color: white;
  border-width: 0px;
}
